version: "3.9"

services:
  postgres_db:
    image: postgres:16
    container_name: s3270_postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    expose:
      - "5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 30s
      timeout: 10s
      retries: 10
      start_period: 60s
    networks:
      - internal_net

  fastapi_backend:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: s3270_fastapi
    restart: always
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      postgres_db:
        condition: service_healthy
    volumes:
      - .:/app
    command: >
      sh -c "
        echo 'Esperando base de datos...' &&
        sleep 10 &&
        uvicorn app.main:app --host 0.0.0.0 --port 8000
      "
    healthcheck:
      test: ["CMD-SHELL", "python -c 'import urllib.request; urllib.request.urlopen(\"http://localhost:8000/docs\")'"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    dns:
      - 8.8.8.8
      - 8.8.4.4
    networks:
      - internal_net
      - public_net

  redis:
    image: redis:7-alpine
    container_name: s3270_redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    dns:
      - 8.8.8.8
      - 8.8.4.4
    networks:
      - internal_net

  celery_worker:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: s3270_celery_worker
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      redis:
        condition: service_started
      postgres_db:
        condition: service_healthy
    command: >
      celery
      -A app.celery_app.celery_app
      worker
      --loglevel=info
    volumes:
      - .:/app
    dns:
      - 8.8.8.8
      - 8.8.4.4
    networks:
      - internal_net

volumes:
  pg_data:

networks:
  internal_net:
    internal: true
  public_net:
    driver: bridge
